@font-face {
    font-family: "Lato";
    src: url("../fonts/Lato-Black.ttf");
    font-style: normal; 
    font-weight: 900; 
}
@font-face {
    font-family: "Lato";
    src: url("../fonts/Lato-Bold.ttf");
    font-style: normal; 
    font-weight: 700; 
}
@font-face {
    font-family: "Lato";
    src: url("../fonts/Lato-Regular.ttf");
    font-style: normal; 
    font-weight: 400; 
}
@font-face {
    font-family: "Lato";
    src: url("../fonts/Lato-Italic.ttf");
    font-style: italic; 
    font-weight: 400; 
}
@font-face {
    font-family: "Lato";
    src: url("../fonts/Lato-Light.ttf");
    font-style: normal; 
    font-weight: 300;
}
* {
    margin: 0;
    padding: 0;
}
body {
    font-family: 'Lato', sans-serif;
    background-color: #FFF;
}
.center, .center-tablet {
    width: 1140px;
    margin-left: auto;
    margin-right: auto;
}
.header {
    max-width: 100%;
    height: 75px;
    flex-shrink: 0;
    background: #222;
    display: flex;
    align-items: center;
}
.position {
    display: flex;
    align-items: flex-end;
}
.header__logo {
    cursor: pointer;
}
.header__box {
    display: flex;
    align-items: center;
    justify-content: space-between;  
}
.header__box-left {
    gap: 41px;
}
.header__box-right {
    gap: 42px;
}
.header__box-content {
    gap: 25px;
}
.header__menu {
    width: 232px !important;
    height: 634px;
    top: 75px !important;
}
.offcanvas-header, .offcanvas-body, .nav-link, .section-list {
    padding: 0 !important;
}
.offcanvas-title {
    color: #000;
    font-size: 14px;
    font-weight: 700;
    line-height: normal !important;
    margin-top: 32px;
    margin-left: 33px;
}
.menu__section {
    list-style-type: none;
    margin-top: 3px;
}
.nav-item__section {
    color: #F16D7F !important;
    font-size: 14px !important;
    font-weight: 400 !important;
    line-height: normal !important;
    margin-top: 20px;
}
.section-list {
    list-style-type: none;
    margin-top: 12px;
    margin-bottom: 20px;
    margin-left: 21.5px;
}
.section-list__category {
    color: #6F6E6E !important;
    font-size: 14px !important;
    font-weight: 400 !important;
    line-height: normal;
    margin-top: 9px;

}
.header__box-button {
    margin-left: -0.25em;
    margin-right: -0.25em;
    border: none;
    background-color: #222;
}
.box-button__icon {
    position: relative;
    display: flex;
}
.box-button__icon span {
    position: absolute;
    right: -10px;
    top: -6px;
}
.box-button__content, .box-button__content span{
    display: none;
}
.intro {
    width: 100%;
    height: 764px;
    flex-shrink: 0;
    background-color: #F1E4E6;
}
.intro__box {
    width: 100%;
    display: flex;
    align-items: center;
}
.intro__box-image {
    width: 800.58px;
    height: 764px;
    flex-shrink: 0;
}
.intro__box-title {
    display: flex;
}
.intro__box-rectangle {
    width: 12px;
    height: 92px;
    flex-shrink: 0;
    margin-left: 63.42px;
    margin-right: 16px;
}
h1 {
    height: 93px;
    display: flex;
    flex-direction: column;
}
.box-title__1 {
    color: #222;
    font-size: 48px;
    font-weight: 900;
    line-height: normal;
}
.box-title__2 {
    color: #222;
    font-size: 32px;
    font-weight: 700;
    line-height: normal;
}
.box-title__3 {
    color: #F16D7F;
}
.categories {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 30px;
    margin-top: 65px;
}
.categories__box {
    width: 360px;
    height: 260px;
    flex-shrink: 0;
    background-color: rgba(33, 22, 22, 1);
}
.box-big {
    width: 100%;
    height: 180px;
    grid-column: span 3;
}
.categories__box-image {
    opacity: 0.3;
    position: absolute;
}
.categories__box-text {
    padding: 105px 103px;
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.text-big {
    padding: 65px 490.14px;
}
.box-text__1 {
    color: #FFF;
    font-size: 16px;
    font-weight: 400;
    line-height: normal;
}
.box-text__2 {
    color: #F16D7F;
    font-size: 24px;
    font-weight: 700;
    line-height: normal;
}
.popular-position {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.popular-position__title {
    color: #222;
    font-size: 30px;
    font-weight: 400;
    line-height: normal;
    margin-top: 96px;
}
.popular-position__description {
    color: #9F9F9F;
    font-size: 14px;
    font-weight: 400;
    line-height: normal;
    margin-top: 6px;
}
.popular {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(2, 1fr);
    gap: 30px;
    margin-top: 48px;
}
.popular__box {
    width: 360px;
    height: 581px;
    flex-shrink: 0;
    background-color: #F8F8F8;
    display: flex;
    flex-direction: column;
}
.box__image {
    position: relative;
    cursor: pointer;
}
.box__image2 {
    width: 360px;
    height: 420px;
    flex-shrink: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #F7E4E2;
}
.box__image:hover::after {
    background-color: rgba(58, 56, 56, 0.86);
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}
.box__image-button {
    position: absolute;
    height: 44px;
    display: flex;
    align-items: center;
    left: 50%;
    top: 50%;
    text-align: center;
    opacity: 0;
    transform: translate(-50%, -50%);
    transition: opacity .35s ease;
    color: #FFF;
    font-size: 14px;
    font-weight: 400;
    line-height: normal;
    border: 1px solid white;
    width: fit-content;
    padding: 20px;
    background-color: inherit;
    z-index: 2;
    gap: 11.04px;
    cursor: pointer;
}
.box__image:hover .box__image-button {
    opacity: 1;
}
.popular__box-text {
    display: flex;
    flex-direction: column;
    padding: 24px 16px;
    gap: 16px;
}
.box-text__title {
    color: #000;
    font-size: 13px;
    font-weight: 400;
    line-height: normal;
}
.box-text__description {
    width: 314.743px;
    color: #5D5D5D;
    font-size: 14px;
    font-weight: 300;
    line-height: normal;
}
.box-text__price {
    color: #F16D7F;
    font-size: 16px;
    font-weight: 400;
    line-height: normal;
}
.popular-position__button {
    width: 212px;
    height: 48px;
    flex-shrink: 0;
    border: 1px solid;
    background: none;
    color: #F26376;
    font-size: 16px;
    font-weight: 400;
    line-height: normal;
    margin-top: 48px;
    margin-bottom: 60px;
    cursor: pointer;
    transition: 0.3s;
}
.popular-position__button:hover {
    background-color: #F16D7F;
    color: #FFFFFF;
}
.advantages {
    max-width: 100%;
    height: 341px;
    flex-shrink: 0;
    background-color: #222224;
    margin-top: 95px;
    gap: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.advantages__box {
    width: 360px;
    height: 134px;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.icon-delivery {
    margin-bottom: 28.07px;
}
.icon-sales {
    margin-bottom: 19.07px;
}
.icon-quality {
    margin-bottom: 25.06px;
}
.advantages__box-title {
    color: #FBFBFB;
    font-size: 19.96px;
    font-weight: 400;
    line-height: normal;
}
.advantages__box-description {
    color: #FBFBFB;
    text-align: center;
    font-size: 13.972px;
    font-weight: 300;
    line-height: normal;
    margin-top: 16px;
    opacity: 70%;
}
.subscription {
    background-image: url(../images/subscription/background.png);
    background-size: cover;
    background-position: center;
    height: 448px;
}   
.subscription__box {
    background: rgba(244, 244, 244, 0.7);
    height: 448px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 327.26px;
}
.subscription__box-left {
    width: 360px;
    height: 225px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 30px;
}
.subscription__box-description {
    width: 359.449px;
    height: 99px;
    color: #222224;
    text-align: center;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}
.subscription__box-description span {
    font-style: italic;
}
.subscription__box-right {
    top: 40%;
    left: 60%;
}
.box-right__title {
    display: flex;
    flex-direction: column;
    align-items: center;
    color: #222224;
    text-align: center;
    font-size: 24px;
    font-weight: 700;
    line-height: 167.2%; 
}
.box-right__title span {
    font-size: 18px;
    font-weight: 400;
    margin-top: -3.5px;
    margin-bottom: -11px;
}
.box-right__input {
    display: flex;
    margin-top: 32px;
}
.box-right__input-frame {
    width: 256px;
    height: 49px;
    flex-shrink: 0;
    background-color: #E1E1E1;
    border: none;
    border-radius: 2rem 0 0 2rem;
    padding-left: 22px;
}
.box-right__input-frame::placeholder {
    color: #222224;
    font-size: 14px;
    font-weight: 400;
    line-height: normal;
    opacity: 0.671;
}
.box-right__input-button {
    width: 100px;
    height: 49px;
    flex-shrink: 0;
    background-color: #F16D7F;
    border: none;
    border-radius: 0 2rem 2rem 0;
    color: #FFF;
    text-align: center;
    font-size: 14px;
    font-weight: 400;
    line-height: normal;
    cursor: pointer;
    transition: 0.3s;
}
.box-right__input-button:hover {
    background-color: #FFFFFF;
    color: #F16D7F;
    border: 1px solid #F16D7F;
}
.footer {
    max-width: 100%;
    height: 79px;
    background-color: #222224;
    display: flex;
}
.footer__box {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.footer__desc {
    color: #FBFBFB;
    font-size: 16px;
    font-weight: 400;
    line-height: normal;
}
.footer__icon {
    display: flex;
    gap: 7.29px;
}
.footer__icon-box {
    width: 31.451px;
    height: 32px;
    flex-shrink: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #FFF;
    transition: 0.3s;
}
.icon-box__svg path {
    fill: black;
    transition: 0.3s;
}
.footer__icon-box:hover {
    background-color: #F16D7F;

    .icon-box__svg path {
        fill: #FFF;
    }
}
@media (min-width: 1601px) {
    .intro__box {
        max-width: 1600px;
    }
}
@media (min-width: 768px) and (max-width: 1439px) {
    .center-tablet, .center {
        max-width: 767px;
        margin-left: auto;
        margin-right: auto;
    }
    .header__box {
        height: 74px;
        padding: 18px 32px;
    }
    .box-title__1 {
        font-size: 44px;
    }
    .box-title__2 {
        font-size: 24px;
    }
    .box-button__content, .box-button__content span {
        display: inline;
    }
    .box-button__content {
        position: relative;  
    }
    .box-button__content span {
        position: absolute;
        right: 7px;
        top: -4px;
        color: #FFF;
        font-size: 12px;
        font-weight: 400;
        line-height: normal;
    }
    .intro, .intro__box, .intro__box-image {
        height: 368px;
    }
    .intro__box-image {
        width: 386px;
    }
    .intro__box-rectangle {
        margin-left: 39px;
    }
    .intro__box-title {
        max-width: 100%;
    }
    .categories {
        max-width: 735px;
        gap: 19px;
    }
    .categories__box {
        max-width: 231.973px;
        height: 167.617px;
    }
    .box-big {
        max-width: 734.581px;
        height: 116.043px;
    }
    .categories__box-text {
        padding: 59px 39px;
    }
    .text-big {
        padding: 33px 287px;
    }
    .popular-position__title {
        margin-top: 109.92px;
    }
    .popular-position__description {
        margin-top: 3.3px;
    }
    .popular {
        max-width: 736px;
        justify-items: center;
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: repeat(3, 1fr);
        gap: 18px 16px;
        margin-top: 72.74px;
    }
    .popular__box-text {
        padding: 24.35px 18px;
        gap: 0;
    }
    .box-text__description {
        margin-top: 12.65px;
        margin-bottom: 18px;
    }
    .popular-position__button {
        margin-top: 32.48px;
        margin-bottom: 70.52px;
    }
}
@media (min-width: 320px) and (max-width: 767px) {
    .center-tablet {
        width: auto;
    }
    .hidden-icons {
        display: none;
    }
    .header__box {
        padding: 16px 18px;
    }
    .intro {
        height: 368px;
    }
    .intro__box {
        max-width: 100%;
        height: 363px;
        justify-content: center;
    }
    .intro__box-title {
        align-items: flex-end;
        width: 263px;
    }
    h1 {
        height: 66px;
    }
    .box-title__1 {
        font-size: 38px;
    }
    .box-title__2 {
        font-size: 20px;
    }
    .intro__box-rectangle {
        height: 61px;
        margin-left: 0;
        margin-right: 15px;
    }
    .categories {
        display: flex;
        flex-direction: column;
        gap: 32px;
        margin-top: 64px;
        padding: 0 16px;
    }
    .categories__box, .categories__box-image {
        width: 100%;
        height: 247px;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .box-big {
        height: 111px;
    }
    .categories__box-image {
        position: static;
    }
    .box-image-big {
        height: 111px;
    }
    .categories__box-text {
        display: flex;
        padding: 0;
        position: absolute;
    }
    .popular {
        max-width: 100%;
        justify-items: center;
        grid-template-columns: 1fr;
        gap: 16.61px 8px;
        margin-top: 64.7px;
    }
    .popular-position__button {
        margin-top: 40.61px;
        margin-bottom: 85px;
    }
}